@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@400;700&family=Roboto:wght@400;700&display=swap');

body, .watchlist_container, .list_item {
    font-family: 'Roboto', sans-serif;
}

.list_item h3, .list_item button, .pagination, .pagination button, h2 {
    font-family: 'Oxanium', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #FFFFFF;
}

.watch-page {
    background-color: #002054; 
    padding: 75px; 
    min-height: 100%; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    border-radius: 12px;
}

.watchlist_container {
    border: 2px solid #B3A369; /* Added gold border */
    border-radius: 8px;
    padding: 20px;
    max-width: 90vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    background-color: #FFFFFF;
}

.list_item {
    border: 1px solid #B3A369;
    border-radius: 10px;
    padding: 15px;
    background-color: #FFFFFF;
    color: #003057;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.list_item h3 {
    color: #003057;
    text-decoration: underline;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; 
    margin-bottom: 10px;
}

.list_item p {
    color: #003057;
    font-size: 14px;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.list_item button {
    background-color: #B3A369;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-end;
    margin-top: auto;
}

.list_item button:hover {
    background-color: #9E8B3D;
}

h2 {
    color: #B3A369;
    text-align: center;
    margin-bottom: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 5px;
    background-color: #FFFFFF;
    color: #003057;
    border: 1px solid #B3A369;
    border-radius: 4px;
    padding: 5px 10px;
    transition: all 0.3s ease;
}

.pagination button:hover {
    background-color: #B3A369;
    color: #FFFFFF;
}
